{% extends 'base.html' %}
{% load static %}

{% block header_class %}landing-header{% endblock %}
{% block main_class %}{% endblock %}  {# sem padding, hero ocupa a tela inteira #}
{% block style.css %}<link rel='stylesheet' type='text/css' media='screen' href='{% static "css/style.css" %}'>{% endblock %}
{% block header.js %}<script src="{% static 'js/header.js' %}"></script>{% endblock %}
{% block title %}Página Inicial - D.O.C{% endblock %}
{% block content %}
    <section class="hero">
            <div class="hero-content">
                <h1 id="frase">
                    Mais <span class="spanHERO">praticidade</span>, mais <span class="spanHERO">segurança</span> e seus documentos sempre ao seu alcance com <span class="spanHERO">apenas um clique</span>.
                </h1>
                <div class="hero-buttons">
                    <button class="btn1">Digitalize Agora!</button>
                    <button class="btn2">Saiba Mais</button>
                </div>
                <div class="overlay"></div>
        </div>
        <br><br><br>
        <hr id="linha">
        <br><br><br>
        <div class="glass">
            <div class="info-item">
                <h1 class="num">99%</h1>
                <p class="tex">Precisão OCR</p>
            </div>

            <div class="info-item">
                <h1 class="num">1K</h1>
                <p class="tex">Empresas</p>
            </div>

            <div class="info-item">
                <h1 class="num">99%</h1>
                <p class="tex">Precisão IA</p>
            </div>
        </div>
    </section>

    <!-- VANTAGENS -->
    <section class="vantagens">
        <h2>Vantagens do D.O.C</h2>
        <ul>
            <li>
                <i class="fa-solid fa-leaf"></i>
                <h3>Sustentabilidade</h3>
                <p>Reduz o uso de papel e libera espaço fisico ajudando a natureza.</p>
            </li>
            <li>
                <i class="fa-solid fa-shield-halved"></i>
                <h3>Segurança</h3>
                <p>Armazena tudo com proteção e evita perdas de arquivos.</p>
            </li>
            <li>
                <i class="fa-solid fa-file"></i>
                <h3>Agilidade</h3>
                <p>Digitaliza e organiza documentos rápido, facilitando o dia a dia.</p>
            </li>
        </ul>
    </section>

<br><br><br>

<!-- O QUE É E COMO FUNCIONA -->
    <section id="oqcomo">
        <div id="oq">
            <div class="texto">
                <h2 class="tit-oqcomo">O que é o D.O.C.?</h2>
                <p class="tex-oqcomo">A D.O.C. é uma plataforma desenvolvida para simplificar a <span class="spanoq">gestão de documentos</span>. Nosso sistema utiliza digitalização e 
                    inteligência artificial para <span class="spanoq">organizar, classificar e facilitar o acesso a arquivos de forma rápida</span>, segura e eficiente. Nosso compromisso é oferecer 
                    praticidade,<span class="spanoq">agilidade e confiabilidade</span>  para instituições e usuários no dia a dia.</p>
            </div>
            <div class="imagem1">
                <img src="{% static 'img/aviaozinho.png' %}" alt="">
            </div>
        </div>
        
        <br>
        <hr>
        <br>

        <div id="como">
            <div class="imagem2">
                <img src="{% static 'img/folhas.png' %}" alt="">
            </div>
            <div class="texto">
                <h2 class="tit-oqcomo">Como funciona?</h2>
                <p class="tex-oqcomo">O D.O.C. <span class="spanoq">simplifica o processo de gestão de documentos</span>. Você envia seus arquivos para a plataforma e o sistema, por meio 
                    de OCR e inteligência artificial, faz a leitura, organiza e classifica automaticamente. Assim, todos os documentos ficam reunidos em um só lugar, 
                    podendo ser encontrados facilmente por <span class="spanoq">filtros ou pela busca inteligente</span>. Tudo de forma rápida, segura e acessível.</p>
            </div>
        </div>
    </section>

<!--FEEDBACKS-->
    <section id="feedbacks">
        <h2>O que nossos usuários estão achando?</h2>
        <p>Veja as avaliações do nosso serviço</p>
<br><br>
    </section>
<br><br>
<!--FAQs-->
    <section id="faqs">
        <h2>Está com dúvidas?</h2>
        <p>Nossas FAQs estão aqui para ajudar!</p>
    <section>
<br><br><br>
<!--FINAL-->
        <section id="final">
            <p>Quer mais segurança e praticidade para seus arquivos?</p>
            <h2>Experimente nossa digitalização e organize sua vida em segundos!</h2>
            <button class="btn1">Digitalize Agora!</button>
        </section>
        <br><br>
{% endblock %}