{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Mais praticidade, mais segurança e seus documentos sempre ao seu alcance com apenas um clique.</h1>
    <button >Digitalize Agora!</button>
    <button>Saiba Mais</button>

    <div id="infos">
        <div>
            <h1>99%</h1>
            <p>Pecisão OCR</p>
        </div>

        <div>
            <h1>1K</h1>
            <p>Empresas</p>
        </div>

        <div>
            <h1>99%</h1>
            <p>Pecisão OCR</p>
        </div>
    </div>

        <div id="vantagens">
            <h2>Vantagens do D.O.C</h2>
            <div>
                <h4>Sustentabilidade</h4>
                <img src="" alt="">
                <p>Reduz o uso de papel e libera espaço fisico ajudando a natureza.</p>
            </div>
            <div>
                <h4>Segurança</h4>
                <img src="" alt="">
                <p>Armazena tudo com proteção e evita perdas de arquivos.</p>
            </div>
            <div>
                <h4>
            </div>
        </div>
    </div>
{% endblock %}
