<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <script src="https://kit.fontawesome.com/44090f5f38.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="left-header">
            <img src="/static/img/logo-DOC.png" alt="logo-D.O.C">
            <nav class="nav-left">
                <a href="#">Digitalizar</a>
                <a href="#">Documentos</a>
                <a href="#">Quem Somos</a>
            </nav>
        </div>
        <div class="right-header">
            <nav class="nav-right">
                <input type="" name="" id="">
                <i class="fa-solid fa-user"></i>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <img src="" alt="">
        <div id="footer-navegacao">
            <h4 class="topicos-footer">Navegação</h4>
            <p class="textos-footer">Sobre Nós</p>
            <p class="textos-footer">Como Funciona</p>
            <p class="textos-footer">Vantagens</p>
            <p class="textos-footer">Avaliações</p>
            <p class="textos-footer">FAQs</p>
        </div>

        <div id="footer-digitalizacao">
            <h4 class="topicos-footer">Digitalização</h4>
            <p class="textos-footer">Digitalizar Documento</p>
            <p class="textos-footer">Vizualizar Documento</p>
        </div>

        <div id="footer-suaconta">
            <h4 class="topicos-footer">Sua Conta</h4>
            <p class="textos-footer">Minha Conta</p>
            <p class="textos-footer">Fazer Login</p>
            <p class="textos-footer">Cadastrar-se</p>
        </div>

        <div id="footer-redessociais">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>

        <br><br><br><br>
        <hr>

        <p class="texto-footer">© 2025 D.O.C -  Todos os direitos reservados.</p>
        <a class="links-footer" href="">Política de Privacidade</a>
        <a class="links-footer" href="">Termos e Condições</a>
        <a class="links-footer" href="">Política de Cookies</a>

    </footer>
</body>
</html>